<!DOCTYPE html>
<html>

<head>
    <title>Binding Site Predictions</title>
    <meta charset="utf-8">
    <style>
        #box {
            float: centre;
            width: 100%;
            margin: auto;
        }
    </style>
</head>

<body>
    {% if validation != {} %}
    <div id="box">
        <h1><u>Validation Set</u></h1>
        <table style="width:100%">
            <tr>
                <th>PDB_ID</th>
                <th>MCC</th>
                <th>ACC</th>
                <th>IOU</th>
                <th>DCC</th>
                <th>PRECISION</th>
                <th>RECALL</th>
            </tr>
            {% for pis in validation %}
            <tr>
                <td><a href="{{pis}}">{{pis}}</a></td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["MatthewsCorrcoef"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["Accuracy"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["IoU"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["dcc"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["Precision"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["Recall"]|float }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if test != {} %}
    <div id="box">
        <h1><u>Test Set</u></h1>
        <table style="width:100%">
            <tr>
                <th>PDB_ID</th>
                <th>MCC</th>
                <th>ACC</th>
                <th>IOU</th>
                <th>DCC</th>
                <th>PRECISION</th>
                <th>RECALL</th>
            </tr>
            {% for pis in test %}
            <tr>
                <td><a href="{{pis}}">{{pis}}</a></td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["MatthewsCorrcoef"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["Accuracy"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["IoU"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["dcc"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["Precision"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["Recall"]|float }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>

</html>