# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode

# /outputs/**
# !/outputs/**/
# !/outputs/**/.gitkeep

/data/**
!/data/AA_properties.csv
!/data/obseleted.txt
!/data/predict/raw/abde_1/sequence.fasta
data.zip
model.tar.zst

extras
model

# preprocessing/*.ipynb

# Manuscript
manuscript/acs-achemso-demo.bib
manuscript/achemso-demo.aux
manuscript/achemso-demo.bbl
manuscript/achemso-demo.blg
manuscript/achemso-demo.fdb_latexmk
manuscript/achemso-demo.fls
manuscript/achemso-demo.out
manuscript/achemso-demo.log
manuscript/achemso-demo.synctex.gz

manuscript/supplementary.aux
manuscript/supplementary.bbl
manuscript/supplementary.blg
manuscript/supplementary.fdb_latexmk
manuscript/supplementary.fls
manuscript/supplementary.lof
manuscript/supplementary.lot
manuscript/supplementary.toc
manuscript/supplementary.out
manuscript/supplementary.log
manuscript/supplementary.synctex.gz

manuscript/marked.pdf
manuscript/unmarked.pdf