# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode

# /outputs/**
# !/outputs/**/
# !/outputs/**/.gitkeep

# /data/**
# !/data/AA_properties.csv
# !/data/obseleted.txt

extras

# preprocessing/*.ipynb

# Manuscript
manuscript/acs-bindingsite_seq.bib
manuscript/bindingsite_seq.aux
manuscript/bindingsite_seq.bbl
manuscript/bindingsite_seq.blg
manuscript/bindingsite_seq.fdb_latexmk
manuscript/bindingsite_seq.fls
manuscript/bindingsite_seq.out
manuscript/bindingsite_seq.log
manuscript/bindingsite_seq.synctex.gz

manuscript/supplementary.synctex.gz
