<!DOCTYPE html>
<html>

<head>
    <title>Binding Site Predictions</title>
    <meta charset="utf-8">
    <style>
        #leftbox {
            float: left;
            width: 50%;
            margin: auto;
        }

        #rightbox {
            float: right;
            width: 50%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="leftbox">
        <h1><u>Validation Set</u></h1>
        <table style="width:100%">
            <tr>
                <th>PDB_ID</th>
                <th>MCC</th>
                <th>ACC</th>
                <th>IOU</th>
                <th>DCC</th>
                <th>FPS</th>
                <th>GRID</th>
                <th>PRECISION</th>
                <th>RECALL</th>
            </tr>
            {% for pis in validation %}
            <tr>
                <td><a href="{{pis}}">{{pis}}</a></td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["mcc"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["acc"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["iou"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["f_dcc"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["fps"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["grid"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["precision"]|float }}</td>
                <td>{{ "%0.2f" % validation[pis]["metrics"]["recall"]|float }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="rightbox">
        <h1><u>Test Set</u></h1>
        <table style="width:100%">
            <tr>
                <th>PDB_ID</th>
                <th>MCC</th>
                <th>ACC</th>
                <th>IOU</th>
                <th>DCC</th>
                <th>FPS</th>
                <th>GRID</th>
                <th>PRECISION</th>
                <th>RECALL</th>
            </tr>
            {% for pis in test %}
            <tr>
                <td><a href="{{pis}}">{{pis}}</a></td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["mcc"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["acc"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["iou"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["f_dcc"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["fps"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["grid"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["precision"]|float }}</td>
                <td>{{ "%0.2f" % test[pis]["metrics"]["recall"]|float }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>